// #accardion {
//     .act {
//         background: crimson;
//         color: #fff;
//     }
//     button{
//         width: 100%;
//         padding: 15px;
//         background: darkcyan;
//         color: #fff;
//     }
//     .panel {
//         display: none;
//     }
// }

#tabMenu {
    button {
        padding: 15px;
        background: darkcyan;
        color: #fff;
    }
    .panel {
        display: none;
        padding: 20px;
        margin: 5px;
        border: 1px solid green;
        border-radius: 0 0 15px 15px;
        &.active{
            display: block;
        }
    }
}